* {
  font-family: "Raleway";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*variables*/
body {
  margin: 30px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#local {
  background-color: #dfdddd;
  color: #0e0101;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#local input {
  background-color: #dfdddd;
  border: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#local ::-webkit-input-placeholder {
  color: black;
}

#local :-ms-input-placeholder {
  color: black;
}

#local ::-ms-input-placeholder {
  color: black;
}

#local ::placeholder {
  color: black;
}

#explor {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f0eaea;
  margin-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

#explor h2 {
  margin: 0;
}

#explor p {
  color: darkgray;
}

#explor button {
  border-bottom-left-radius: 34px;
  border-top-left-radius: 31px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 35px;
  color: white;
  background-color: fuchsia;
  margin: 10px;
  padding: 16px;
  border: none;
  -webkit-box-shadow: 2px 7px 4px 2px #bcb7b7;
          box-shadow: 2px 7px 4px 2px #bcb7b7;
}

#fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fonction div {
  background: #f1f1f1;
  -webkit-box-shadow: 2px 7px 4px 2px #e7e4e4;
          box-shadow: 2px 7px 4px 2px #e7e4e4;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
  height: 85px;
  width: 300px;
  padding: 35px;
}

#fonction div span {
  width: 20px;
  border-radius: 15px;
  background-color: #d453d4;
  color: white;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  right: 42px;
}

#fonction .choix i,
#fonction .menu i {
  margin-left: -23px;
  margin-right: 20px;
  color: #b6b6b6;
}

#fonction .deguste i {
  margin-left: -23px;
  margin-right: 20px;
  color: violet;
}

#restaurant .palette,
#restaurant .note,
#restaurant .france,
#restaurant .sens {
  -webkit-box-shadow: 7px 7px 13px 4px #d5d1d1;
          box-shadow: 7px 7px 13px 4px #d5d1d1;
  width: 28%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 30px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#restaurant .palette h3,
#restaurant .note h3,
#restaurant .france h3,
#restaurant .sens h3 {
  margin-top: -10px;
}

#restaurant .palette h3 a,
#restaurant .note h3 a,
#restaurant .france h3 a,
#restaurant .sens h3 a {
  text-decoration: none;
  color: black;
}

#restaurant .palette .desc,
#restaurant .note .desc,
#restaurant .france .desc,
#restaurant .sens .desc {
  padding-left: 15px;
}

#restaurant .palette i,
#restaurant .note i,
#restaurant .france i,
#restaurant .sens i {
  position: relative;
  left: 285px;
  bottom: 17px;
}

#restaurant .palette i:hover,
#restaurant .note i:hover,
#restaurant .france i:hover,
#restaurant .sens i:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
  background-color: #de37e4;
}

#restaurant .palette .test,
#restaurant .note .test,
#restaurant .france .test,
#restaurant .sens .test {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#restaurant .palette .testn,
#restaurant .note .testn,
#restaurant .france .testn,
#restaurant .sens .testn {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#restaurant .palette button,
#restaurant .note button,
#restaurant .france button,
#restaurant .sens button {
  background-color: #77cf91;
  color: #338a4d;
  position: relative;
  left: 245px;
  bottom: 207px;
  border: none;
}

footer {
  background-color: #0e0101;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  margin-top: 30px;
  padding-bottom: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  padding-top: 5px;
}

@media screen and (max-width: 767px) {
  body {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header {
    width: 100%;
    -webkit-box-shadow: 2px 7px 4px 2px #bcb7b7;
            box-shadow: 2px 7px 4px 2px #bcb7b7;
  }
  header .logo img {
    padding-top: 26px;
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: #c4c1c1;
            box-shadow: #c4c1c1;
  }
  #local {
    margin-top: 2px;
    width: 100%;
  }
  #local i {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #fonction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #restaurant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #restaurant .palette,
  #restaurant .note,
  #restaurant .france,
  #restaurant .sens {
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
  }
  .explorer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*palette*/
#palette button {
  border-bottom-left-radius: 34px;
  border-top-left-radius: 31px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 35px;
  color: white;
  background-color: fuchsia;
  margin: auto;
  padding: 16px;
  border: none;
  -webkit-box-shadow: 2px 7px 4px 2px #bcb7b7;
          box-shadow: 2px 7px 4px 2px #bcb7b7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#palette .testp {
  width: 100%;
}

#palette .menup {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
}

#palette .menup h2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#palette .menup h2 i {
  background-color: white;
  border-color: black;
}

#palette .menup h2 i:hover {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
  color: #de37e4;
}

#palette .menup .entrep,
#palette .menup .platp,
#palette .menup .dessp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

#palette .menup .entrep h4,
#palette .menup .platp h4,
#palette .menup .dessp h4 {
  color: #c4c1c1;
  -webkit-text-decoration: underline #77cf91;
          text-decoration: underline #77cf91;
}

#palette .menup .entrep .esc,
#palette .menup .entrep .foie,
#palette .menup .entrep .oeuf,
#palette .menup .entrep .filet,
#palette .menup .entrep .queue,
#palette .menup .entrep .turbot,
#palette .menup .entrep .brest,
#palette .menup .entrep .macaron,
#palette .menup .entrep .mousse,
#palette .menup .platp .esc,
#palette .menup .platp .foie,
#palette .menup .platp .oeuf,
#palette .menup .platp .filet,
#palette .menup .platp .queue,
#palette .menup .platp .turbot,
#palette .menup .platp .brest,
#palette .menup .platp .macaron,
#palette .menup .platp .mousse,
#palette .menup .dessp .esc,
#palette .menup .dessp .foie,
#palette .menup .dessp .oeuf,
#palette .menup .dessp .filet,
#palette .menup .dessp .queue,
#palette .menup .dessp .turbot,
#palette .menup .dessp .brest,
#palette .menup .dessp .macaron,
#palette .menup .dessp .mousse {
  -webkit-box-shadow: 7px 7px 13px 4px #d5d1d1;
          box-shadow: 7px 7px 13px 4px #d5d1d1;
  width: 35%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 30px;
  -webkit-animation: 1s 1s 1 both apparition;
          animation: 1s 1s 1 both apparition;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  height: 150px;
}

#palette .menup .entrep .esc .ok,
#palette .menup .entrep .foie .ok,
#palette .menup .entrep .oeuf .ok,
#palette .menup .entrep .filet .ok,
#palette .menup .entrep .queue .ok,
#palette .menup .entrep .turbot .ok,
#palette .menup .entrep .brest .ok,
#palette .menup .entrep .macaron .ok,
#palette .menup .entrep .mousse .ok,
#palette .menup .platp .esc .ok,
#palette .menup .platp .foie .ok,
#palette .menup .platp .oeuf .ok,
#palette .menup .platp .filet .ok,
#palette .menup .platp .queue .ok,
#palette .menup .platp .turbot .ok,
#palette .menup .platp .brest .ok,
#palette .menup .platp .macaron .ok,
#palette .menup .platp .mousse .ok,
#palette .menup .dessp .esc .ok,
#palette .menup .dessp .foie .ok,
#palette .menup .dessp .oeuf .ok,
#palette .menup .dessp .filet .ok,
#palette .menup .dessp .queue .ok,
#palette .menup .dessp .turbot .ok,
#palette .menup .dessp .brest .ok,
#palette .menup .dessp .macaron .ok,
#palette .menup .dessp .mousse .ok {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  bottom: 130px;
  left: 268px;
  opacity: 0;
  width: 20%;
  height: 150px;
}

#palette .menup .entrep .esc .ok i,
#palette .menup .entrep .foie .ok i,
#palette .menup .entrep .oeuf .ok i,
#palette .menup .entrep .filet .ok i,
#palette .menup .entrep .queue .ok i,
#palette .menup .entrep .turbot .ok i,
#palette .menup .entrep .brest .ok i,
#palette .menup .entrep .macaron .ok i,
#palette .menup .entrep .mousse .ok i,
#palette .menup .platp .esc .ok i,
#palette .menup .platp .foie .ok i,
#palette .menup .platp .oeuf .ok i,
#palette .menup .platp .filet .ok i,
#palette .menup .platp .queue .ok i,
#palette .menup .platp .turbot .ok i,
#palette .menup .platp .brest .ok i,
#palette .menup .platp .macaron .ok i,
#palette .menup .platp .mousse .ok i,
#palette .menup .dessp .esc .ok i,
#palette .menup .dessp .foie .ok i,
#palette .menup .dessp .oeuf .ok i,
#palette .menup .dessp .filet .ok i,
#palette .menup .dessp .queue .ok i,
#palette .menup .dessp .turbot .ok i,
#palette .menup .dessp .brest .ok i,
#palette .menup .dessp .macaron .ok i,
#palette .menup .dessp .mousse .ok i {
  position: absolute;
  bottom: 70px;
  left: 20px;
}

#palette .menup .entrep .esc .prix,
#palette .menup .entrep .foie .prix,
#palette .menup .entrep .oeuf .prix,
#palette .menup .entrep .filet .prix,
#palette .menup .entrep .queue .prix,
#palette .menup .entrep .turbot .prix,
#palette .menup .entrep .brest .prix,
#palette .menup .entrep .macaron .prix,
#palette .menup .entrep .mousse .prix,
#palette .menup .platp .esc .prix,
#palette .menup .platp .foie .prix,
#palette .menup .platp .oeuf .prix,
#palette .menup .platp .filet .prix,
#palette .menup .platp .queue .prix,
#palette .menup .platp .turbot .prix,
#palette .menup .platp .brest .prix,
#palette .menup .platp .macaron .prix,
#palette .menup .platp .mousse .prix,
#palette .menup .dessp .esc .prix,
#palette .menup .dessp .foie .prix,
#palette .menup .dessp .oeuf .prix,
#palette .menup .dessp .filet .prix,
#palette .menup .dessp .queue .prix,
#palette .menup .dessp .turbot .prix,
#palette .menup .dessp .brest .prix,
#palette .menup .dessp .macaron .prix,
#palette .menup .dessp .mousse .prix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#palette .menup .entrep .entrep,
#palette .menup .platp .entrep,
#palette .menup .dessp .entrep {
  -webkit-animation: 1s 1s 1 both apparition;
          animation: 1s 1s 1 both apparition;
}

#palette .menup .entrep .filet,
#palette .menup .entrep .queue,
#palette .menup .entrep .turbot,
#palette .menup .platp .filet,
#palette .menup .platp .queue,
#palette .menup .platp .turbot,
#palette .menup .dessp .filet,
#palette .menup .dessp .queue,
#palette .menup .dessp .turbot {
  -webkit-animation: 1s 2s 1 both apparition;
          animation: 1s 2s 1 both apparition;
}

#palette .menup .entrep .brest,
#palette .menup .entrep .macaron,
#palette .menup .entrep .mousse,
#palette .menup .platp .brest,
#palette .menup .platp .macaron,
#palette .menup .platp .mousse,
#palette .menup .dessp .brest,
#palette .menup .dessp .macaron,
#palette .menup .dessp .mousse {
  -webkit-animation: 1s 3s 1 both apparition;
          animation: 1s 3s 1 both apparition;
}

@-webkit-keyframes apparition {
  from {
    margin-left: 0;
    margin-top: -20px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes apparition {
  from {
    margin-left: 0;
    margin-top: -20px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes decalage {
  from {
    padding-left: 33px;
    opacity: 0;
  }
  to {
    background-color: #77cf91;
    padding-left: 0px;
    opacity: 1;
  }
}

@keyframes decalage {
  from {
    padding-left: 33px;
    opacity: 0;
  }
  to {
    background-color: #77cf91;
    padding-left: 0px;
    opacity: 1;
  }
}

#palette .esc:hover {
  -webkit-animation: 4s 1s 1 both decalage;
          animation: 4s 1s 1 both decalage;
  padding-left: 100px;
  width: 25%;
}

#palette .esc:hover .ok {
  -webkit-animation: 2s 1s 1 both decalage;
          animation: 2s 1s 1 both decalage;
  color: #77cf91;
  padding-left: 20px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: auto;
}

#palette .esc:hover i {
  -webkit-animation: 2s 1s 1 both decalage;
          animation: 2s 1s 1 both decalage;
  color: #dcebe0;
  padding-left: 20px;
  opacity: 1;
  bottom: 70px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: auto;
}
/*# sourceMappingURL=style.css.map */